@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color-bgcolor: #050c1f;
    --theme-color-lightcolor: #98aed1;
    --theme-color-darkcolor: #00084b;
}
